<div class="sosmed-logo-wrapper-portofolio">
  <%= image_tag "Instagram.png", class: "logo-sosmed" %>
 <br> <%= image_tag "linkedin.png", class: "logo-sosmed" %>
 <br> <%= image_tag "G.png", class: "logo-sosmed" %>
 <br> <%= image_tag "Twitter.png", class: "logo-sosmed" %>
 <br> <%= image_tag "facebook.png", class: "logo-sosmed" %>
</div>
<div class="home-logo">
  <%= image_tag "41studio-logo.jpg", id: "header-logo" %>
</div>
<div id="header" class="header"></div>
<div class="container-fluid">
  <div class="navbar portofolio-navbar">
    <a id="home-link" class="hvr-underline-from-center" href="home.html"><h2>Home</h2></a>
    <a href="service.html" class="hvr-underline-from-center"><h2>Services</h2></a>
    <a href="portofolio.html" class="hvr-underline-from-center"><h2>Portofolios</h2></a>
    <a href="job.html" class="hvr-underline-from-center"><h2>Jobs</h2></a>
    <a href="about.html" class="hvr-underline-from-center"><h2>About Us</h2></a>
    <a href="contact.html" class="hvr-underline-from-center"><h2>Contact</h2></a>
    <a id="blog-link" class="hvr-underline-from-center" href="article.html"><h2>Blog</h2></a>
  </div>
  <div class="jumbotron-portofolio">
    <h2 class="jumbotron-title-portofolio centered-portofolio bold title-nunito">Ruby On Rails, iOS and Android Project Case Studies</h2>
    <hr class="jumbotron-line-portofolio">
    <h5 class="jumbotron-content-portofolio size-15 content-helvetica">We have our own approach to things, be it design, tech or scale. They came to us with a need and we built them beautiful creation of web and mobile apps which backed-end with Ruby On Rails technology stack.</h5>
    <%= image_tag "circle-logo.png", id: "jumbotron-logo-portofolio" %>
    <%= image_tag "support.png", id: "support-logo" %>
  </div>
  <h2 class="text-center bold margin-top-100 size-30 title-nunito">Featured Ruby On Rails and Mobile Projects</h2>
  <hr class="purple-line">
  <h5 id="desc-text" class="text-center margin-340 size-15 line-height-30 content-helvetica">We understand that every idea that is gushing from our client is a new color in industry technology. That’s why we are here to assist and develop all the ideas that our clients needed and make it to be the most valuable asset for our clients worldwide. Check out these 20+ Ruby On Rails, iOS and Android project case studies we’ve worked on :</h5>
  <div class="button-filter-portofolio">
    <button class="btn-default transparent btn-filter-portofolio all-product-button">All Products</button>
    <button class="btn-default transparent btn-filter-portofolio">Travel</button>
    <button class="btn-default transparent btn-filter-portofolio">Event</button>
    <button class="btn-default transparent btn-filter-portofolio">Ecommerce</button>
    <button class="btn-default transparent btn-filter-portofolio">SEO/SEM</button>
  </div>
  <div class="button-filter-portofolio second">
    <button class="btn-default transparent btn-filter-portofolio">Real Estate</button>
    <button class="btn-default transparent btn-filter-portofolio">Workout</button>
    <button class="btn-default transparent btn-filter-portofolio">Web Develop</button>
    <button class="btn-default transparent btn-filter-portofolio">Service</button>
  </div>
  <div class="row" id="hishop-part">
    <div class="col-md-6">
      <div class="box-portofolio"></div>
    </div>
    <div class="col-md-6">
      <div class="desc">
        <h2 class="bold size-30 title-nunito">Hishop</h2>
        <hr class="yellow-line-portofolio">
        <h5 class="content-helvetica">Ecommerce</h5>
        <h5 class="bold title-nunito">Description</h5>
        <h5 class="content-helvetica">Malaysia’s Online Beauty, Skin Care & Cosmetics Store</h5>
        <h5 class="bold title-nunito">Technology</h5>
        <h5 class="margin-right content-helvetica">Ruby on Rails, jQuery, PostgreSQL, Shopping Cart System, Payment Processing, Mailchimp, Bootstrap & Active Admin</h5>
      </div>
     <button class="btn-default transparent btn-filter-portofolio margin-left-75 purple">VISIT SITE</button>
    </div>
  </div>
  <div class="row hide-content" id="pricehub-part">
    <div class="col-md-6">
      <div class="box-portofolio"></div>
    </div>
    <div class="col-md-6">
      <div class="desc">
        <h2 class="bold size-30 title-nunito">Pricehub</h2>
        <hr class="yellow-line-portofolio">
        <h5 class="content-helvetica">Ecommerce</h5>
        <h5 class="bold title-nunito">Description</h5>
        <h5 class="content-helvetica">Malaysia’s Online Beauty, Skin Care & Cosmetics Store</h5>
        <h5 class="bold title-nunito">Technology</h5>
        <h5 class="margin-right content-helvetica">Ruby on Rails, jQuery, PostgreSQL, Shopping Cart System, Payment Processing, Mailchimp, Bootstrap & Active Admin</h5>
      </div>
     <button class="btn-default transparent btn-filter-portofolio margin-left-75 purple">VISIT SITE</button>
    </div>
  </div>
  <div class="row hide-content" id="legalmate-part">
    <div class="col-md-6">
      <div class="box-portofolio"></div>
    </div>
    <div class="col-md-6">
      <div class="desc">
        <h2 class="bold size-30 title-nunito">Legal Mate</h2>
        <hr class="yellow-line-portofolio">
        <h5 class="content-helvetica">Ecommerce</h5>
        <h5 class="bold title-nunito">Description</h5>
        <h5 class="content-helvetica">Malaysia’s Online Beauty, Skin Care & Cosmetics Store</h5>
        <h5 class="bold title-nunito">Technology</h5>
        <h5 class="margin-right content-helvetica">Ruby on Rails, jQuery, PostgreSQL, Shopping Cart System, Payment Processing, Mailchimp, Bootstrap & Active Admin</h5>
      </div>
     <button class="btn-default transparent btn-filter-portofolio margin-left-75 purple">VISIT SITE</button>
    </div>
  </div>
  <div class="row hide-content" id="funways-part">
    <div class="col-md-6">
      <div class="box-portofolio"></div>
    </div>
    <div class="col-md-6">
      <div class="desc">
        <h2 class="bold size-30 title-nunito">Funway</h2>
        <hr class="yellow-line-portofolio">
        <h5 class="content-helvetica">Ecommerce</h5>
        <h5 class="bold title-nunito">Description</h5>
        <h5 class="content-helvetica">Malaysia’s Online Beauty, Skin Care & Cosmetics Store</h5>
        <h5 class="bold title-nunito">Technology</h5>
        <h5 class="margin-right content-helvetica">Ruby on Rails, jQuery, PostgreSQL, Shopping Cart System, Payment Processing, Mailchimp, Bootstrap & Active Admin</h5>
      </div>
     <button class="btn-default transparent btn-filter-portofolio margin-left-75 purple">VISIT SITE</button>
    </div>
  </div>
  <div class="row hide-content" id="facilgo-part">
    <div class="col-md-6">
      <div class="box-portofolio"></div>
    </div>
    <div class="col-md-6">
      <div class="desc">
        <h2 class="bold size-30 title-nunito">Facilgo</h2>
        <hr class="yellow-line-portofolio">
        <h5 class="content-helvetica">Ecommerce</h5>
        <h5 class="bold title-nunito">Description</h5>
        <h5 class="content-helvetica">Malaysia’s Online Beauty, Skin Care & Cosmetics Store</h5>
        <h5 class="bold title-nunito">Technology</h5>
        <h5 class="margin-right content-helvetica">Ruby on Rails, jQuery, PostgreSQL, Shopping Cart System, Payment Processing, Mailchimp, Bootstrap & Active Admin</h5>
      </div>
     <button class="btn-default transparent btn-filter-portofolio margin-left-75 purple">VISIT SITE</button>
    </div>
  </div>
  <div class="row hide-content" id="boatflow-part">
    <div class="col-md-6">
      <div class="box-portofolio"></div>
    </div>
    <div class="col-md-6">
      <div class="desc">
        <h2 class="bold size-30 title-nunito">Boatflow</h2>
        <hr class="yellow-line-portofolio">
        <h5 class="content-helvetica">Ecommerce</h5>
        <h5 class="bold title-nunito">Description</h5>
        <h5 class="content-helvetica">Malaysia’s Online Beauty, Skin Care & Cosmetics Store</h5>
        <h5 class="bold title-nunito">Technology</h5>
        <h5 class="margin-right content-helvetica">Ruby on Rails, jQuery, PostgreSQL, Shopping Cart System, Payment Processing, Mailchimp, Bootstrap & Active Admin</h5>
      </div>
     <button class="btn-default transparent btn-filter-portofolio margin-left-75 purple">VISIT SITE</button>
    </div>
  </div>
  <div class="row hide-content" id="lodggy-part">
    <div class="col-md-6">
      <div class="box-portofolio"></div>
    </div>
    <div class="col-md-6">
      <div class="desc">
        <h2 class="bold size-30 title-nunito">Lodggy</h2>
        <hr class="yellow-line-portofolio">
        <h5 class="content-helvetica">Ecommerce</h5>
        <h5 class="bold title-nunito">Description</h5>
        <h5 class="content-helvetica">Malaysia’s Online Beauty, Skin Care & Cosmetics Store</h5>
        <h5 class="bold title-nunito">Technology</h5>
        <h5 class="margin-right content-helvetica">Ruby on Rails, jQuery, PostgreSQL, Shopping Cart System, Payment Processing, Mailchimp, Bootstrap & Active Admin</h5>
      </div>
     <button class="btn-default transparent btn-filter-portofolio margin-left-75 purple">VISIT SITE</button>
    </div>
  </div>
  <div id="category-bar" class="row category-bar-portofolio">
    <div class="col-md-3"></div>
    <div class="col-md-1 text-center">
      <div id="hishop-arrow" class="arrow-up-portofolio"></div>
      <button id="hishop" class="category-button-portofolio hishop-button">
        <h4 class="bold size-20 margin-left--75 hishop-text">Hishop</h4>
      </button>
    </div>
    <div class="col-md-1 text-center">
      <div id="pricehub-arrow" class="arrow-up-portofolio"></div>
      <button id="pricehub" class="category-button-portofolio pricehub-button">
        <h4 class="bold size-20 margin-left--75 pricehub-text">Pricehub</h4>
      </button>
    </div>
    <div class="col-md-1">
      <div id="legalmate-arrow" class="arrow-up-portofolio"></div>
      <button id="legal-mate" class="category-button-portofolio legalmate-arrow">
        <h4 class="bold size-20 margin-left-35 legalmate-text">Legal Mate</h4>
      </button>
    </div>
    <div class="col-md-1 text-center">
      <div id="funways-arrow" class="arrow-up-portofolio"></div>
      <button id="funways" class="category-button-portofolio funways-button">
        <h4 class="bold size-20 funways-text">Funways</h4>
      </button>
    </div>
    <div class="col-md-1 text-center">
      <div id="facilgo-arrow" class="arrow-up-portofolio"></div>
      <button id="facilgo" class="category-button-portofolio facilgo-button">
        <h4 class="bold size-20 facilgo-text">Facilgo</h4>
      </button>
    </div>
    <div class="col-md-1 text-center">
      <div id="boatflow-arrow" class="arrow-up-portofolio"></div>
      <button id="boatflow" class="category-button-portofolio boatflow-button">
        <h4 class="bold size-20 boatflow-text">Boatflow</h4>
      </button>
    </div>
    <div class="col-md-1 text-center">
      <div id="lodggy-arrow" class="arrow-up-portofolio"></div>
      <button id="lodggy" class="category-button-portofolio lodggy-button">
        <h4 class="bold size-20 lodggy-text">Lodggy</h4>
      </button>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="content-bottom-portofolio">
    <h3 class="content-bottom-text title-nunito">Already make up your mind? Hire our Ruby On Rails Team right away!</h3>
    <button id="hire-button" class="btn-default transparent btn-filter-portofolio margin-left-75 purple">HIRE US</button>
  </div>
  <button class="back-top-portofolio">
    <a href="#header">
      <span class="glyphicon glyphicon-arrow-up"></span>
    </a>
  </button>
  <div class="row footer">
    <div class="col-md-6">
      <h4 class="bold size-20">&copy Copyright 2018 41Studio All Right Reserved</h4>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>
<div class="admin-chat-portofolio">
  <div id="admin-chat" class="row">
    <div class="col-xs-12">
      <div class="header-chat">
        <h4 class="bold color-white admin-name">Allen Aprilia Begista</h4>
        <button class="glyphicon glyphicon-remove close-button"></button>
      </div>
      <div class="body-chat">
        <div class="row body-chat-container">
          <div class="col-md-3">
            <%= image_tag "allen.jpg", id: "admin-image" %>
          </div>
          <div class="col-md-9">
            <div class="box-portofolio-chat">
              <h4>Hello, Can i help you?</h4>
            </div>
          </div>
        </div>
        <div class="typing-message">
          <div class="row">
            <div class="col-md-8">
              <input id="typing-text" type="text" name="typing" placeholder ="Type your message...">
            </div>
            <div class="col-md-2">
              <%= image_tag "clip.png", class: "typing-fitur margin-left5" %>
            </div>
            <div class="col-md-2">
              <%= image_tag "send.png", class: "typing-fitur" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>