<div class="home-logo">
    <%= link_to (image_tag "41studio-logo.jpg", id: "header-logo"), root_path %>
</div>
<div id="header" class="header"></div>
<div class="container">
  <div class="row main-content">
    <div class="col-md-2">
      <h2 class="text-center bold title title-nunito">HAPPENING NOW</h2>
    </div>
    <div class="col-md-6">
      <hr class="blue-line">
    </div>
    <div class="col-md-4">
      <h3 id="categories-text" class="bold text-center title-nunito">Categories</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag "blog.jpg", class: "article-content1" %>
      <h3 class="bold title-nunito">Excepteur s content-helveticaint occaecat cupidatat non proident sunt in culpa</h3>
      <h4 class="content-helveti">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus</h4>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag "blue-admin.png", class: "admin-image-article" %>
          <h4 class="admin-name-article">Lisna</h4>
        </div>
        <div class="col-md-8">
          <%= image_tag "blue-date.png", class: "date-image-article" %>
          <h4 class="date-text-article">29 October 2018</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <%= image_tag "blog.jpg", class: "article-content1" %>
      <h3 class="bold title-helvetica">Excepteur sint occaecat cupidatat non proident sunt in culpa</h3>
      <h4 class="content-helveti">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus</h4>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag "yellow-admin.png", class: "admin-image-article" %>
          <h4 class="admin-name-article">Lisna</h4>
        </div>
        <div class="col-md-8">
          <%= image_tag "yellow-date.png", class: "date-image-article" %>
          <h4 class="date-text-article">29 October 2018</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row button-article">
        <div class="col-md-6">
          <button class="categories-button left red size-15 bold">Marketing</button>
          <button class="categories-button left green size-15 bold">Management</button>
          <button class="categories-button left purple size-15 bold">Mobile</button>
          <button class="categories-button left yellow size-15 bold">Web</button>
          <button class="categories-button left blue-grey size-15 bold">Uncategories</button>

        </div>
        <div class="col-md-6">
          <button class="categories-button right blue size-15 bold">Lifestyle</button>
          <button class="categories-button right orange size-15 bold">Lifestyle</button>
          <button class="categories-button right light-blue size-15 bold">Software</button>
          <button class="categories-button right brown size-15 bold">Design</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <%= image_tag "blog.jpg", class: "big-article" %>
      <div class="row">
        <div class="col-md-6">
          <h3 class="bold title-helvetica">Excepteur sint occaecat cupidatat non proident sunt in culpa</h3>
          <h4 class="content-helvetica">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natusest laborum.</h4>
          <div class="row">
            <div class="col-md-4">
              <%= image_tag "green-admin.png", class: "admin-image-article" %>
              <h4 class="admin-name-article">Lisna</h4>
            </div>
            <div class="col-md-8">
              <%= image_tag "green-date.png", class: "date-image-article" %>
              <h4 class="date-text-article">29 October 2018</h4>
            </div>
          </div>
          <div class="col-md-6"></div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-4">
        <%= image_tag "blog.jpg", class: "article-content1" %>
        <h3 class="bold content-helvetica">Excepteur sint occaecat cupidatat non proident sunt in culpa</h3>
        <h4 class="content-helvetica">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus</h4>
        <div class="row">
          <div class="col-md-4">
            <%= image_tag "blue-admin.png", class: "admin-image-article" %>
            <h4 class="admin-name-article">Lisna</h4>
          </div>
          <div class="col-md-8">
            <%= image_tag "blue-date.png", class: "date-image-article" %>
            <h4 class="date-text-article">29 October 2018</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <%= image_tag "blog.jpg", class: "article-content1" %>
        <h3 class="bold content-helvetica">Excepteur sint occaecat cupidatat non proident sunt in culpa</h3>
        <h4 class="content-helvetica">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus</h4>
        <div class="row">
          <div class="col-md-4">
            <%= image_tag "yellow-admin.png", class: "admin-image-article" %>
            <h4 class="admin-name-article">Lisna</h4>
          </div>
          <div class="col-md-8">
            <%= image_tag "yellow-date.png", class: "date-image-article" %>
            <h4 class="date-text-article">29 October 2018</h4>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <%= image_tag "blog.jpg", class: "big-article" %>
      <div class="row">
        <div class="col-md-6">
          <h3 class="bold content-helvetica">Excepteur sint occaecat cupidatat non proident sunt in culpa</h3>
          <h4 class="content-helvetica">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natusest laborum.</h4>
          <div class="row">
            <div class="col-md-4">
              <%= image_tag "green-admin.png", class: "admin-image-article" %>
              <h4 class="admin-name-article">Lisna</h4>
            </div>
            <div class="col-md-8">
              <%= image_tag "green-date.png", class: "date-image-article" %>
              <h4 class="date-text-article">29 October 2018</h4>
            </div>
          </div>
          <div class="col-md-6"></div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4"></div>
        <div id="page-button" class="col-md-8">
          <button class="previous-button">Previous</button>
          <button class="previous-button first-button margin-left10">1</button>
          <button class="previous-button third-button margin-left10">3</button>
          <button class="previous-button other-button margin-left10">26</button>
          <button class="previous-button margin-left10">Next</button>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<div class="row footer-article">
  <div class="col-md-6">
    <%= image_tag "logo-type.png", id: "logotype" %>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-1">
        <%= image_tag "facebook-grey.png", class: "sosmed-logo" %>
      </div>
      <div class="col-md-1">
        <%= image_tag "twitter-grey.png", class: "sosmed-logo" %>
      </div>
      <div class="col-md-1">
        <%= image_tag "GGrey.png", class: "sosmed-logo" %>
      </div>
      <div class="col-md-1">
        <%= image_tag "linkedin-grey.png", class: "sosmed-logo" %>
      </div>
      <div class="col-md-1">
        <%= image_tag "instagram-grey.png", class: "sosmed-logo" %>
      </div>
      <div class="col-md-1">
        <%= image_tag "Youtube-Grey.png", class: "sosmed-logo" %>
      </div>
    </div>
  </div>
</div>