<div class="sosmed-logo-wrapper-job">
 <%= image_tag "Instagram.png", class: "logo-sosmed" %>
  <br> <%= image_tag "linkedin.png", class: "logo-sosmed" %>
  <br> <%= image_tag "G.png", class: "logo-sosmed" %>
  <br> <%= image_tag "Twitter.png", class: "logo-sosmed" %>
  <br> <%= image_tag "facebook.png", class: "logo-sosmed" %>
</div>
<div class="hiring-page modal-fullwidth">
  <button class="glyphicon glyphicon-remove close-button"></button>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "android-dev.png", id: "android" %>
      </div>
      <div class="col-md-8">
        <h1 id="title" class="bold text-center">Android Developer</h1>
        <hr class="green-line">
        <h3 class="text-center margin-75 line-height-30">We are looking for someone that has strong experience with developing user interfaces for applications on the Android using the Android SDK. If you are interested in joining a world-class team of passionate people and industry veterans who like to work hard and play hard, we look forward to hearing from you soon!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1 class="bold">Requirements</h1>
        <h4 class="hiring-content">1. Minimum of 3 years Android development experience
        <br>2. Strong understanding of Java programming language.
        <br>3. Hands-on experience working with multiple data interchange new features
        formats such as XML and JSON.
        <br>4. Strong understanding of modern mobile application development
        <br>5. Working knowledge of the general mobile landscape, architectures, technical solution
        trends and emerging technologies.
        <br>6.Understanding of code versioning tools such as Git. to maximize development efficiency
        <br>7. Experience with the creation and consumption of web services.
        <br>8. Experience with Jira / Atlassian products is a plus. a great mobile user experience
        <br>9. Experience developing Xamarin applications is a plus.
        <br>10. Experience working in an agile environment is a plus.
        <br>11. Experience with multithreading programming is a plus.
        <br>12. Experience writing unit tests and testable code is a plus.
        <br>13. Development experience with iOS is a plus.
        <br>14. Excellent communication and interpersonal skills.
        <br>15. Excellent written & spoken English.
        <br>16. Awesome attitude.</h4>
      </div>
      <div class="col-md-6">
        <h1 class="bold">Responsibilities</h1>
        <h4 class="hiring-content">1. Design and build advanced applications for the Android platform
        <br>2. Collaborate with cross-functional teams to define, design and ship
        <br>3. Ensure performance, quality and responsiveness of applications
        <br>4. Work with the product team to understand end-user requirements
        <br>5. Continuously discover, evaluate, and implement new technologies
        <br>6. Integrate with our backend services to make sure we are delivering
        <br>7. Identify and correct bottlenecks to improve application performance</h4>
      </div>
    </div>
    <h4 id="below-text" class="text-center margin-200">If you think you are suitable for this position, feel free to send your application
    by filling in the form in Contact Page and make sure to attach your Resume/CV.
    Only short-listed candidates will be invited via phone/email for test and
    interview</h4>
    <button class="apply-button bold">APPLY NOW</button>
  </div>
</div>
<div class="home-logo">
  <%= image_tag "41studio-logo.jpg", id: "header-logo" %>
</div>
<div id="header" class="header"></div>
<div class="container-fluid">
  <div class="navbar job-navbar">
  <a id="home-link" class="hvr-underline-from-center" href="home.html"><h2>Home</h2></a>
  <a href="service.html" class="hvr-underline-from-center"><h2>Services</h2></a>
  <a href="portofolio.html" class="hvr-underline-from-center"><h2>Portofolios</h2></a>
  <a href="job.html" class="hvr-underline-from-center"><h2>Jobs</h2></a>
  <a href="about.html" class="hvr-underline-from-center"><h2>About Us</h2></a>
  <a href="contact.html" class="hvr-underline-from-center"><h2>Contact</h2></a>
  <a id="blog-link" class="hvr-underline-from-center" href="article.html"><h2>Blog</h2></a>
  </div>
  <div class="jumbotron-job">
    <h2 class="jumbotron-title-job centered bold title-nunito">Ruby On Rails Job in Bandung, Indonesia</h2>
    <hr class="jumbotron-line">
    <h5 class="jumbotron-content size-15 content-helvetica">41studio is software development company which is not only aiming to develop great products, but also developing ruby on rails experts. Join us now, we are hiring!</h5>
    <%= image_tag "circle-logo.png", id: "jumbotron-logo-job" %>
    <%= image_tag "support.png", id: "support-logo" %>
  </div>
  <h2 class="text-center bold hiring-text title-nunito">We're Hiring!</h2>
  <hr class="yellow-line-job">
  <h5 class="text-center desc-hiring content-helvetica">41studio is calling the best experienced Ruby On Rails, iOS and Android developers in Bandung and Jakarta to join the team. The successful candidate will be able to build high- quality, innovative and fully performing software in compliance with coding standards and technical design.</h5>
  <div class="button-filter-job">
    <button id="developer-button" class="btn-default transparent btn-filter-job">Developer</button>
    <button class="btn-default transparent btn-filter-job">Designer</button>
    <button class="btn-default transparent btn-filter-job">Management</button>
    <button class="btn-default transparent btn-filter-job">Business</button>
  </div>
  <div class="row developer">
    <div class="col-md-5">
      <%= image_tag "android-dev.png", id: "android-dev" %>
    </div>
    <div class="col-md-7">
      <h2 id="andro-title" class="text-center bold title-nunito">Android Developer</h2>
      <hr class="blue-line-job">
      <h5 class="text-center content-hiring content-helvetica">We are looking for someone that has strong experience with developing user interfaces for applications on the Android using the Android SDK. If you are interested in joining a world-class team of passionate people and industry veterans who like to work hard and play hard, we look forward to hearing from you soon!</h5>
      <div class="row button-hiring">
        <div class="col-md-6">
          <button class="btn-default transparent btn-filter-job float-right blue">LEARN MORE</button>
        </div>
        <div class="col-md-6">
          <button class="btn-default transparent btn-filter-job yellow">APPLY NOW</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row green-bar">
    <div class="col-md-2"></div>
    <div class="col-md-2 text-center">
      <div class="arrow-up-job"></div>
      <button class="category-button"><h4 class="bold size-20">Android Developer</h4></button>
    </div>
    <div class="col-md-2 text-center">
      <div class="arrow-up-job another-triangle"></div>
      <button class="category-button no-pad-top"><h4 class="bold size-20">Ios Developer</h4></button>
    </div>
    <div class="col-md-2 text-center">
      <div class="arrow-up-job another-triangle"></div>
      <button class="category-button no-pad-top"><h4 class="bold size-20">React Native</h4></button>
    </div>
    <div class="col-md-2 text-center">
      <div class="arrow-up-job another-triangle"></div>
      <button class="category-button no-pad-top"><h4 class="bold size-20">Web Developer</h4></button>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="content-bottom-job">
    <h3 class="content-bottom-text title-nunito">Are you Ruby On Rails Expert ?</h3>
    <button id="hire-button-job" class="btn-default transparent btn-filter-job purple-job">HIRE US</button>
  </div>
  <button class="back-top">
    <a href="#header">
      <span class="glyphicon glyphicon-arrow-up"></span>
    </a>
  </button>
  <div class="row footer">
    <div class="col-md-6">
      <h4 class="bold size-20">&copy Copyright 2018 41Studio All Right Reserved</h4>
    </div>
    <div class="col-md-6"></div>
  </div>
  <div class="admin-chat-job">
    <div id="admin-chat" class="row">
      <div class="col-xs-12">
        <div class="header-chat">
          <h4 class="bold color-white admin-name">Allen Aprilia Begista</h4>
          <button class="glyphicon glyphicon-remove close-button"></button>
        </div>
        <div class="body-chat">
          <div class="row body-chat-container">
            <div class="col-md-3">
              <%= image_tag "allen.jpg", id: "admin-image" %>
            </div>
            <div class="col-md-9">
              <div class="box-chat">
                <h4>Hello, Can i help you?</h4>
              </div>
            </div>
          </div>
          <div class="typing-message">
            <div class="row">
              <div class="col-md-8">
                <input id="typing-text" type="text" name="typing" placeholder ="Type your message...">
              </div>
              <div class="col-md-2">
                <%= image_tag "clip.png", class: "typing-fitur margin-left5" %>
              </div>
              <div class="col-md-2">
                <%= image_tag "send.png", class: "typing-fitur margin-left5" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
