    <div class="sosmed-logo-wrapper-about">
     <%= image_tag "Instagram.png", class: "logo-sosmed" %>
      <br> <%= image_tag "linkedin.png", class: "logo-sosmed" %>
      <br> <%= image_tag "G.png", class: "logo-sosmed" %>
      <br> <%= image_tag "Twitter.png", class: "logo-sosmed" %>
      <br> <%= image_tag "facebook.png", class: "logo-sosmed" %>
    </div>
    <div class="home-logo">
      <%= image_tag "41studio-logo.jpg", id: "header-logo" %>
    </div>
    <div id="header" class="header"></div>
    <div class="container-fluid">
      <div class="navbar navbar-about">
        <a id="home-link" class="hvr-underline-from-center" href="home.html"><h2>Home</h2></a>
        <a href="service.html" class="hvr-underline-from-center"><h2>Services</h2></a>
        <a href="portofolio.html" class="hvr-underline-from-center"><h2>Portofolios</h2></a>
        <a href="job.html" class="hvr-underline-from-center"><h2>Jobs</h2></a>
        <a href="about.html" class="hvr-underline-from-center"><h2>About Us</h2></a>
        <a href="contact.html" class="hvr-underline-from-center"><h2>Contact</h2></a>
        <a id="blog-link" class="hvr-underline-from-center" href="article.html"><h2>Blog</h2></a>
      </div>
     <div class="jumbotron-about">
        <h2 class="jumbotron-title-about size-30 centered bold title-nunito">Software Development Company in Indonesia</h2>
        <hr class="jumbotron-line">
        <h5 class="jumbotron-content size-15 content-helvetica">Which focusing on ruby on rails, nodejs, ios and android development. We practicing agile methodologies on every software development project we build. As an agile software development company, we are expert in Test-Driven Development (TDD), Behavior-Driven Development (BDD), User-Centered Design, Pair Programming and write the elegant code following the Best Practice standard and Convention Over Configuration concept.</h5>
        <%= image_tag "circle-logo.png", id: "jumbotron-logo" %>
        <%= image_tag "support.png", id: "support-logo" %>
      </div>
      <h2 id="title" class="text-center bold title-nunito">About Us</h2>
      <hr class="green-line-about">
      <h5 class="text-center about-desc size-15 content-helvetica">41studio is Agile Ruby On Rails Development Company & Consultancy that leverages the cutting edge technology to rapidly build web, mobile and desktop applications. We love to work in agile way for a whole host of clients to improve their business efficiency and provide a competitive advantage.</h5>
      <%= image_tag "company.png", id: "company-profile" %>
      <button class="btn-default transparent btn-filter-about yellow">Company Profile</button>
      <h2 class="text-center bold size-30 title-nunito">Meet Our Ruby On Rails Expert & Team</h2>
      <hr class="red-line">
      <h4 id="desc-team" class="text-center margin-400 content-helvetica">We believe in every big project, there is solid and reliable people. Get to know our top-notch ruby on rails developers & team behind of every awesome product creations.</h4>
      <div class="row">
        <div class="col-md-6">
          <%= image_tag "android-dev.png", class: "employee-profile" %>
        </div>
        <div class="col-md-6 profile">
          <h2 class="bold size-30 title-nunito">Lisna Panca Wiguna</h2>
          <hr class="green-line-about no-margin-left">
          <h4 class="bold title-nunito">Front-end</h4>
          <h4 class="content-helvetica">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h4>
          <h4 class="bold title-nunito">Technology</h4>
          <h4 class="content-helvetica">Lorem ipsum dolor sit amet, consectetur adipisicing elit</h4>
          <h4 class="bold title-nunito">Follow Me on</h4>
          <%= image_tag "facebook-grey.png", class: "sosmed-image" %>
          <%= image_tag "linkedin-grey.png", class: "sosmed-image" %>
          <%= image_tag "instagram-grey.png", class: "sosmed-image" %>
        </div>
      </div>
      <div class="row purple-bar">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <div class="arrow-up-about"></div>
          <h3 class="bold margin-bar">Employee Name</h3>
        </div>
        <div class="col-md-2">
          <div class="arrow-up-about another-triangle"></div>
          <h3 class="bold mar-top-10">Employee Name</h3>
        </div>
        <div class="col-md-2">
          <div class="arrow-up-about another-triangle"></div>
          <h3 class="bold mar-top-10">Employee Name</h3>
        </div>
        <div class="col-md-2">
          <div class="arrow-up-about another-triangle"></div>
          <h3 class="bold mar-top-10">Employee Name</h3>
        </div>
        <div class="col-md-2">
          <div class="arrow-up-about another-triangle"></div>
          <h3 class="bold mar-top-10">Employee Name</h3>
        </div>
      </div>
      <div class="content-7-about">
        <div>
          <h3 class="size-30 text-center title-content7-about bold">We're Hiring!!</h3>
          <hr class="blue-line-about">
          <h5 id="content-bottom" class="size-15 text-center margin-350">Our Ruby On Rails Team is consisted of the friendly and amazing people. Smart is definitely necessary, but crazy and fun also needed as only crazy people can buzz crazy idea! Our team has opportunity to take your competencies grow up. Not only work with our team but also learn and thrive together with us.</h5>
          <button class="btn-default learn-more-button-about">APPLY NOW</button>
        </div>
      </div>
      <button class="back-top">
        <a href="#header">
          <span class="glyphicon glyphicon-arrow-up"></span>
        </a>
      </button>
      <div class="row footer">
        <div class="col-md-6">
          <h4 class="bold size-20">&copy Copyright 2018 41Studio All Right Reserved</h4>
        </div>
        <div class="col-md-6"></div>
      </div>
    </div>
    <div class="admin-chat-about">
      <div id="admin-chat" class="row">
        <div class="col-xs-12">
          <div class="header-chat">
            <h4 class="bold color-white admin-name">Allen Aprilia Begista</h4>
            <button class="glyphicon glyphicon-remove close-button"></button>
          </div>
          <div class="body-chat">
            <div class="row body-chat-container">
              <div class="col-md-3">
                <%= image_tag "allen.jpg", id: "admin-image" %>
              </div>
              <div class="col-md-9">
                <div class="box-chat">
                  <h4>Hello, Can i help you?</h4>
                </div>
              </div>
            </div>
            <div class="typing-message">
              <div class="row">
                <div class="col-md-8">
                  <input id="typing-text" type="text" name="typing" placeholder ="Type your message...">
                </div>
                <div class="col-md-2">
                  <%= image_tag "clip.png", class: "typing-fitur margin-left5" %>
                </div>
                <div class="col-md-2">
                  <%= image_tag "send.png", class: "typing-fitur" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>